/* font-family: 'DotGothic16', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #ccc;
  font-family: 'DotGothic16', sans-serif;
}

button {
  font-family: 'DotGothic16', sans-serif;
  font-size: 15px;
  margin: 10px;
  min-width: 100px;
}

h1 {
  margin: 35px 0 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  font-size: 20px;
  border-radius: 4px;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score {
  margin-bottom: 10px;
  font-size: 2rem;
}

#finalScore {
  margin: 15px 0 10px;
  font-size: 2rem;
}
